.client-crud-actions {
    display: flex;
    flex-direction: row;
}

.main-actions {
    display: flex;
    grid-gap: 20px;
    margin-left: auto;
}

.container {
    display: flex;
    flex-direction: column;
    grid-gap: 20px;
}

.form-container {
    color: ghostwhite;
    display: flex;
    flex-direction: column;
}