<div class='signature'>Erick Storck - Simple crud with local storage -
    erickstorck@gmail.com</div>
<div class='main-container'>
    <button id='ClientCrud' class='crud-button' (mousedown)='toggleClass("ClientCrud")'
        (mouseup)='toggleClass("ClientCrud")' (click)='openClientCrud()'>NEW CLIENT</button>
    <button id='clientList' class='crud-button' (mousedown)='toggleClass("clientList")'
        (mouseup)='toggleClass("clientList")' (click)='openClientList()'>CLIENT LIST</button>
</div>